h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: rgb(21, 155, 167);
}

body {
background-image: url(world.jpg);
background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: rgba(132, 150, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 2rem; 
    border-spacing: 10px;
}


